/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/2+nGnkEaKpfi_r2f7NnfR2qNhFs=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/6+S5aWpjlIgjllDd97c2v9YWvQI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/47Up+CUeaTQbXOOGc+8y2vDeFOw=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/50+CCrZmX0crQLHnjlwJf4zLpQw=
/app/build/tmp/kotlin-classes/debug/com/catexplorer/utils/ApiService.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/utils/ApiService.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/data/CatBreedInfo.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/data/CatBreedInfo.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$2.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$2.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$3.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$3.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$4.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedMainActivity$BreedsScreen$1$2$invoke$$inlined$items$default$4.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedMainActivity$observeViewModel$1$1$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedMainActivity$observeViewModel$1$1$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/viewModel/CatBreedViewModel$getCatBreedInfo$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/viewModel/CatBreedViewModel$getCatBreedInfo$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/viewModel/CatBreedViewModel$getCatList$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/viewModel/CatBreedViewModel$getCatList$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/viewModel/CatBreedViewModel.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/viewModel/CatBreedViewModel.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/data/CatMainInfo.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/data/CatMainInfo.dex
/app/build/intermediates/dex/debug/mergeProjectDexDebug/9/classes.dex
/app/build/intermediates/dex/debug/mergeProjectDexDebug/10/classes.dex
/app/build/intermediates/dex/debug/mergeProjectDexDebug/13/classes.dex
/.idea/compiler.xml
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_0.jar
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_1.jar
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_2.jar
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_3.jar
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_4.jar
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_5.jar
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_6.jar
/app/build/intermediates/project_dex_archive/debug/out/e7ab81ae12712396ac6afdefdf9369d8e5a7533326d1d2452a11be5c84ed69ff_7.jar
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/gAgmi63OlORWzF90MEMicgy1248=
/.idea/gradle.xml
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/hE9nAVpQTeZ4MvZ0YQlnCkrXK_M=
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/id-to-file.tab_i
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.s
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/java-sources-proto-map.tab
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.keystream
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.keystream.len
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.len
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/java-sources-proto-map.tab.values.at
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/java-sources-proto-map.tab_i
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/java-sources-proto-map.tab_i.len
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/K19dBXDC+DhEZvUEecPv3yT5Ark=
/app/build/tmp/kotlin-classes/debug/com/catexplorer/data/LiveLiterals$CatBreedInfoKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/data/LiveLiterals$CatBreedInfoKt.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/viewModel/LiveLiterals$CatBreedViewModelKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/viewModel/LiveLiterals$CatBreedViewModelKt.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/data/LiveLiterals$CatMainInfoKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/data/LiveLiterals$CatMainInfoKt.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/utils/LiveLiterals$RetrofitClientInstanceKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/utils/LiveLiterals$RetrofitClientInstanceKt.dex
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/lookups/lookups.tab.values.s
/.idea/misc.xml
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/MQ795feydqLeFYTCRS7yGWPDfBo=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/NnohITtENs2mLjDQI+ceMCkuyYQ=
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/proto.tab.values.s
/app/build/tmp/kotlin-classes/debug/com/catexplorer/utils/RetrofitClientInstance.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/utils/RetrofitClientInstance.dex
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/jvm/kotlin/source-to-classes.tab.values.s
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values
/app/build/kotlin/compileDebugKotlin/cacheable/caches-jvm/inputs/source-to-output.tab.values.s
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TgowcmE9Uhh3stxm713yoNS3kao=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/ua63w5oeKhzFUdpbcgV_0L0WQJc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/UPvnqysAGiKMnMFkMGf4xaol2r0=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/W55NzE75knwDYAoxF3TA5Nj9Eno=
/app/build/tmp/kotlin-classes/debug/com/catexplorer/data/Weight.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/data/Weight.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wpkIhx11Y171A2oJQkINMYS4eLc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/XZ4k2AquXhp2TFvLxDUiO9R0Irc=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/8TR0UkVL7WITm5LLTV46OARSvvQ=
/app/build/intermediates/incremental/debug/mergeDebugResources/stripped.dir/layout/activity_main.xml
/app/build/intermediates/incremental/debug/packageDebugResources/stripped.dir/layout/activity_main.xml
/app/build/intermediates/data_binding_layout_info_type_merge/debug/out/activity_main-layout.xml
/app/build/intermediates/data_binding_layout_info_type_package/debug/out/activity_main-layout.xml
/app/build/intermediates/javac/debug/classes/com/catexplorer/databinding/ActivityMainBinding.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/databinding/ActivityMainBinding.dex
/app/build/generated/data_binding_base_class_source_out/debug/out/com/catexplorer/databinding/ActivityMainBinding.java
/app/build/intermediates/incremental/dataBindingGenBaseClassesDebug/base_builder_log.json
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/bCL05Mm0h2JwTwulMOtyr1iwovQ=
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/BreedFavoritesFragment.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/BreedFavoritesFragment.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/c2MIXummjuMxgvdr3oAfwjmZG8A=
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedDetailsFragment$listDetails$2.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedDetailsFragment$listDetails$2.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedDetailsFragment$onViewCreated$1$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedDetailsFragment$onViewCreated$1$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedDetailsFragment.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedDetailsFragment.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$1$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$1$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$2.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$2.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$3.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$3.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$4.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2$invoke$$inlined$items$default$4.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$1$2.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$BreedsScreen$2.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$BreedsScreen$2.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$observeViewModel$1$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$observeViewModel$1$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment$observeViewModel$2$1$1$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment$observeViewModel$2$1$1$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/CatBreedListFragment.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/CatBreedListFragment.dex
/app/build/intermediates/dex/debug/mergeProjectDexDebug/5/classes.dex
/app/build/intermediates/data_binding_base_class_log_artifact/debug/out/com.catexplorer-binding_classes.json
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/ComposableSingletons$CatBreedListFragmentKt$lambda-1$1.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/ComposableSingletons$CatBreedListFragmentKt$lambda-1$1.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/ComposableSingletons$CatBreedListFragmentKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/ComposableSingletons$CatBreedListFragmentKt.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/EFe1AKUCa5N2nSmMABavNkQtM6Y=
/app/build/intermediates/packaged_res/debug/layout/fragment_breed_favorites.xml
/app/build/intermediates/data_binding_layout_info_type_merge/debug/out/fragment_breed_favorites-layout.xml
/app/build/intermediates/data_binding_layout_info_type_package/debug/out/fragment_breed_favorites-layout.xml
/app/build/intermediates/packaged_res/debug/layout/fragment_cat_breed_details.xml
/app/build/intermediates/data_binding_layout_info_type_merge/debug/out/fragment_cat_breed_details-layout.xml
/app/build/intermediates/data_binding_layout_info_type_package/debug/out/fragment_cat_breed_details-layout.xml
/app/build/intermediates/packaged_res/debug/layout/fragment_cat_breed_list.xml
/app/build/intermediates/data_binding_layout_info_type_merge/debug/out/fragment_cat_breed_list-layout.xml
/app/build/intermediates/data_binding_layout_info_type_package/debug/out/fragment_cat_breed_list-layout.xml
/app/build/intermediates/javac/debug/classes/com/catexplorer/databinding/FragmentBreedFavoritesBinding.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/databinding/FragmentBreedFavoritesBinding.dex
/app/build/generated/data_binding_base_class_source_out/debug/out/com/catexplorer/databinding/FragmentBreedFavoritesBinding.java
/app/build/intermediates/javac/debug/classes/com/catexplorer/databinding/FragmentCatBreedDetailsBinding.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/databinding/FragmentCatBreedDetailsBinding.dex
/app/build/generated/data_binding_base_class_source_out/debug/out/com/catexplorer/databinding/FragmentCatBreedDetailsBinding.java
/app/build/intermediates/javac/debug/classes/com/catexplorer/databinding/FragmentCatBreedListBinding.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/databinding/FragmentCatBreedListBinding.dex
/app/build/generated/data_binding_base_class_source_out/debug/out/com/catexplorer/databinding/FragmentCatBreedListBinding.java
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/j+9VRxMFn7r_beJGe_l8Aew7Afo=
/app/build/intermediates/merged_res_blame_folder/debug/out/single/layout.json
/app/build/intermediates/merged_res/debug/layout_fragment_breed_favorites.xml.flat
/app/build/intermediates/merged_res/debug/layout_fragment_cat_breed_details.xml.flat
/app/build/intermediates/merged_res/debug/layout_fragment_cat_breed_list.xml.flat
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/LiveLiterals$BreedFavoritesFragmentKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/LiveLiterals$BreedFavoritesFragmentKt.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/LiveLiterals$CatBreedDetailsFragmentKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/LiveLiterals$CatBreedDetailsFragmentKt.dex
/app/build/tmp/kotlin-classes/debug/com/catexplorer/view/LiveLiterals$CatBreedListFragmentKt.class
/app/build/intermediates/project_dex_archive/debug/out/com/catexplorer/view/LiveLiterals$CatBreedListFragmentKt.dex
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/lwBBLMYZ27pUGBQsbI08Rv0lrgw=
/app/build/intermediates/packaged_res/debug/navigation/nav_main.xml
/.idea/navEditor.xml
/app/build/intermediates/merged_res/debug/navigation_nav_main.xml.flat
/.idea/inspectionProfiles/Project_Default.xml
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qKoK+dXwo+Mt5U5I0gx8NwQjCSI=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/qvbYVQIfEorJ+x4zmtSP87zR+Rg=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/roJg_WGn56ZtyBRFaBir0iCRA4Q=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/T0kan3kvyKAUDB6xaDY4DzNwf1U=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/TjlFCIr6Bjy6tVB_dHZ7lSRxrDU=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/umoHAlPpNLa7Ujoi6QRk1An4p+k=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/W7Llmze3STRlttPWjsUlxgGkst4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/wSCoT5ev06JZSPUbzPlG4URZA+4=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/yJv6rlGccE+fzOokElGBARWx04c=
/app/build/intermediates/incremental/debug-mergeJavaRes/zip-cache/zygiE0kNCfbpBQDmy+k4IEfR9+o=
/app/build/intermediates/packaged_res/debug/menu/navigation_menu.xml
